{% extends 'layout.html.twig' %}
{% form_theme episodeForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% set adminMenu = true %}
{% set page_title = 'Edition épisode' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(episodeForm) }}
        
        {{ form_row(episodeForm.title)}}                   
        {{ form_widget(episodeForm.title)}}

        {{ form_row(episodeForm.content) }}
        {{ form_widget(episodeForm.content) }}

        {{ form_row(episodeForm.draft) }}
        {{ form_widget(episodeForm.draft) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Sauvegarder" />
            </div>
        </div>
        {{ form_end(episodeForm) }}
    </div>
{% endblock %}
