{% extends 'layout.html.twig' %}
{#{% form_theme userForm 'bootstrap_3_horizontal_layout.html.twig' %}#}


{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="well">
        {{ form_start(userForm) }}

        {{ form_row(userForm.username)}}
        {{ form_widget(userForm.username)}}

        {{ form_row(userForm.password.first)}} 
        {{ form_widget(userForm.password.first)}}

        {{ form_row(userForm.password.second)}}
        {{ form_widget(userForm.password.second)}}

        {{ form_row(userForm.email)}}
        {{ form_widget(userForm.email)}}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Sauvegarder" />
            </div>
        </div>

        {{ form_end(userForm) }}
    </div>
{% endblock %}
