{% extends 'layout.html.twig' %}
{% form_theme userForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% import "Macros/recaptcha.html.twig" as recaptcha %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if form_errors(userForm.password.first) %}
        <div class="alert alert-danger">
            {{ form_errors(userForm.password.first) }}
        </div>
    {% endif %}

    <div class="well">
        {{ form_start(userForm) }}

        {{ form_row(userForm.username)}}
        {{ form_widget(userForm.username)}}

        {{ form_row(userForm.password.first)}} 
        {{ form_widget(userForm.password.first)}}

        {{ form_row(userForm.password.second)}}
        {{ form_widget(userForm.password.second)}}

        {{ form_row(userForm.email)}}
        {{ form_widget(userForm.email)}}
        
        {{ recaptcha.recaptcha("6Ld7piQUAAAAALUeH-88SVMIiTb-xIyGoAE0VGV9") }}

        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-6">
                <input type="submit" class="btn btn-success btn-block btn-lg" value="Créer un compte" />
                 <p class="text-center">Déjà un compte ? <a href="{{ path('login') }}">Se connecter</a></p>
            </div>
        </div>

        {{ form_end(userForm, {'render_rest': false}) }}
    </div>
{% endblock %}
